header {
    position: fixed;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    z-index: 1000;
    background-color: #0d6efd !important;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 2rem;
}


/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    z-index: 1000;
    background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)), #082032;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#infoPagina {
    color: #fff;
}

.topicos {
    margin-top: 130px;
    margin-bottom: 130px;
}

.btnDesativado {
    cursor: not-allowed;
    opacity: 0.5; /* opcional, para tornar o botão visualmente desativado */
}

.cookie-consent-banner {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #e7e6e6;
    border-bottom: 1px solid #e7e6e6;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    header,
    footer {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .topicos {
        margin-top: 120px;
        margin-bottom: 170px;
    }

    footer .d-flex>div {
        flex: 0 0 100%;
        margin-bottom: 10px;
    }

    footer .d-flex {
        flex-direction: column;
        align-items: center;
    }

    footer .d-flex>div:last-child {
        margin-bottom: 0;
    }

    .cookie-consent-banner {
        flex-direction: column;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-top: 1px solid #e7e6e6;         
        border-bottom: 1px solid #e7e6e6;
    }

    .cookie-consent-banner div {
        width: 100%;
        margin-bottom: 10px;
    }

    .cookie-consent-banner .d-flex {
        flex-direction: column;
        justify-content: center;
    }

    .cookie-consent-banner .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .cookie-consent-banner .btn:last-child {
        margin-bottom: 0;
    }
}